@using Newtonsoft.Json
@model InvoiceModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckoutPage</title>
</head>
<body>
    @{

       
        var falsemodel = new InvoiceModel();
        var falsebasket = new Dictionary<int, int>();
        var result = AzureDb.Instance.InvoiceTransaction(Model);
       

        if (result==1)
        {
            <h1>Your purchace was succesfull and Card and User was updated</h1>
           
        }

    }

</body>
</html>
