@using database_final_project.Models
@model UserModel
@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
@{
    var loginMsg = TempData["LogginMessage"] != null ? TempData["LogginMessage"].ToString() : "";
    var isLoggedIn = TempData["IsLoggedIn"].ToString();
    TempData.Keep("IsLoggedIn");

    if (isLoggedIn != string.Empty)
    {
        <p> you are logged in as @(isLoggedIn != null ? isLoggedIn : "")</p>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>


            </form>
        </div>


        var products = new AzureDb().GetProducts();
        foreach (var Product in products)
        {
            <div>

                <h2>@Product.cname</h2>
                <p>Description : @Product.cdescription</p>
                 <p> Stock: @Product.nStock</p>
                <br />
                <br />
                <br />
            </div>
        }



    }
}

@{ 
    
}
