@using database_final_project.Models
@model RateModel
@{
    ViewData["Title"] = "RateProduct";
}

<h1>RateProduct</h1>

<div class="container">
    <form name="RateModel" method="POST" action="/Home/DoneRate">


        <div class="field">
            <label class="label">Rating</label>
            <div class="control">
                <div class="select">
                    <select name="Rating">
                        <option disabled selected>Select Rating</option>


                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Comment</label>
            <div class="control">
                <input class="input" type="text" placeholder="This is a Bad Product Because.." name="Comment">
            </div>
        </div>
        
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Done</button>
                </div>
            </div>
        
        </form>
</div>